/*
* {
  border: solid 1px black;
}
*/

html, body, header, img, p, table, a, section, article, footer, h1, h2 {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0px;
  min-height: 100%;
}

header {
  background: rgb(51, 51, 51);
}
img {
  height: 170px; width: 200px;
  margin: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
p, table {
  margin: 20px;
  padding: 0px 10px;
}
a, a:visited {
  color: rgb(0, 0, 0);
}
article {
  width: 700px;
  margin: 20px auto;
  padding: 20px 0;
}
section {
  font-family: 'Alegreya Sans', sans-serif;
}
footer {
  background: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  height: 40px; width: 100%;
  position: absolute;
  bottom: 0;
}

#logo {
  margin: 0 auto;
}
#navigation {
  height: 40px; width: 600px;
  margin: 0 auto;
}
#foot {
  padding: 10px 30px;
  margin: 0px;
}

.nav-item {
  height: 20px; width: 100px;

  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
.nav-item:hover {
  background-color: rgb(100, 100, 100);
}
