html{
  height: 100%;
}

h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#373737;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

body{
  background: #212121;
  color: #fff;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Myriad Pro', 'Calibri', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

section{
  float:left;
  width: 75%;
  padding: 20px 10px;
  color:#000;
  background: #fff;
  margin-bottom: 50px;
}

aside{
  float:right;
  width: 20%;
  overflow: hidden;
  color:#000;
  background: #fff;
}

table{
  padding: 1px;
}

header{
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 40px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0; left: 0;
  background: #212121;
  color: #fff;
  margin: 0;
  text-align: center;
}

#side_menu{
  font-weight: bold;
  font-size: 110%;
  color: #373737;
}

#project_title{
  font-family: 'Myriad Pro', 'Tahoma', Helvetica, Arial, sans-serif;
  font-size: 200%;
  padding-left: 150px;
}

#project_tagline{
  font-family: 'Myriad Pro', 'Tahoma', Helvetica, Arial, sans-serif;
  font-size: 110%;
  padding-left: 150px;
}
#finite_logo {
  position: absolute;
  top: 10px; left: 10px;
  width:150px;
  height:100px;"
}
#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
